<hr class="my-6">
<footer>
  <p class="block has-text-centered my-6 is-size-7">
    Everything on this site is subject to <a href="https://www.copyright.com.au/licences-permission/">copyright</a> by
    <a href="<%= site.metadata.linktree %>">@leesheppard</a> • 
    <a href="mailto:<%= metadata.email %>"><i class="fa-light fa-paper-plane-top"></i> Lee Sheppard</a>
  </p>

  <figure class="quote has-text-centered p-5">
    <blockquote>
      We are the music makers, and we are the dreamers of dreams.
    </blockquote>
    <figcaption>
      - Roald Dahl
    </figcaption>
  </figure>

  <p class="links has-text-centered">
    <a href="<%= site.metadata.facebook %>"><i class="fa-brands fa-facebook-f"></i></a>
    <a href="<%= site.metadata.github %>"><i class="fa-brands fa-github"></i></a>
    <a href="<%= site.metadata.dribbble %>"><i class="fa-brands fa-dribbble"></i></a>
    <a href="<%= site.metadata.twitter %>"><i class="fa-brands fa-x-twitter"></i></a>
    <a href="<%= site.metadata.linkedin %>"><i class="fa-brands fa-linkedin-in"></i></a>
  </p>

</footer>
