<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<% resource_title = strip_html(strip_newlines(title)) %>
<title><% if resource_title != "Index" %><%= resource_title %> | <%= metadata.title %><% else %><%= metadata.title %>: <%= metadata.tagline %><% end %></title>
<meta name="description" content="<%= metadata.description %>" />
<link rel="icon" href="/favicon.ico"/>
<meta name="robots" content="index,follow"/>
<meta name="turbo-cache-control" content="no-cache" />
<meta name="description" content="Australian cartoonist, writer, designer, illustrator, writer and storyteller."/>
<link rel="canonical" href="https://www.leesheppard.com"/>
<meta name="keywords" content="cartoonist, writer, designer, illustrator, illustrations, animation, animator, storyteller, nft art, ui designer"/>
<meta name="twitter:site" content="leesheppard.com"/>
<meta name="twitter:creator" content="@leesheppard"/>
<meta name="twitter:image" content="https://leesheppard.com/preview.jpg"/>
<meta name="twitter:title" content="Lee Sheppard + cartoonist"/>
<meta name="twitter:description" content="Australian cartoonist, writer, designer, illustrator, writer and storyteller."/>
<meta property="og:title" content="Lee Sheppard + cartoonist"/>
<meta property="og:description" content="Australian cartoonist, writer, designer, illustrator, writer and storyteller."/>
<meta property="og:url" content="https://www.leesheppard.com"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="https://www.leesheppard.com/preview.jpg"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>
<meta property="og:locale" content="en_EN"/>
<meta property="og:site_name" content="leesheppard"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<script src="https://kit.fontawesome.com/a0e4293658.js" crossorigin="anonymous"></script>
<script src="<%= webpack_path :js %>" data-turbo-track="reload" defer></script>
<link rel="stylesheet" href="<%= webpack_path :css %>" data-turbo-track="reload" />
<%= live_reload_dev_js %>
